.clear {
	clear: both;
}

html, html {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}

head {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

#headshot {
	font-family: 'Rokkitt';
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

p {
	font-family: 'Lato';
	font-size: 18px;
	color: #3b3b3b;
}

#name {
	float: left;
}

#contactDetails {
	font-size: 18px;
	float: right;
	padding-right: 5%;
	padding-top: 2%;

}

div {
	font-family: 'Halvetica';
	background-color: #f3f3f3;
}

.sectionTitle {
	font-family: 'Lato';
	float: left;
	width: 25%;
	color: #cf8a05;
	padding-left: 2%
}


.sectionContent {
	float: left;
	width: 72%;
}

.subDetails {
	color: black;
	font-family: "Arial";
	font-style: italic;
}

.borda1 {
	border-width: 0;
	border-bottom: solid #cf8a05 2px;
	width: 98%;
}

.borda {
	border-width: 0;
	border-bottom: solid #00000077 1px;
	width: 98%;
}

img {
	border-radius: 50%;
}
.tnone {
	list-style-type: none;
}

ol li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 22px;
	padding: 10px;
	padding-right: 10%
}

#cv {
	border-width: 100px;
	width: 900px;
	margin-left: auto;
    margin-right: auto; 
}

.cor {
	font-size: 23px
}
